{{> head}}
{{> nav}}

    <body>
        <div class="container">
        <div class="jumbotron jumbotron-fluid" id="topJumbotron">
            <div class="container">
                <h1 class="display-4">Pool Finder</h1>
                <p class="lead font-weight-bolder">The site you never knew you needed</p>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="card mx-auto">
                <div class="card-header">Future Functionality</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Astronaut Only Section</li>
                    <li class="list-group-item">Ability to Create an Account</li>
                    <li class="list-group-item">Weekly Space Relaxation Newsletter</li>
                    <li class="list-group-item">T Shirt Store</li>
                    <li class="list-group-item">Map Clickability</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron jumbotron-fluid" id="bottomJumbotron">
                <div class="container">
                    <h1 class="invisible display-4">Fluid jumbotron</h1>
                    <p class="invisible lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>

        </div>
<!--</body> and </html> are in the footer--> 
{{> footer}}

