{{> head}}
{{> nav}}

    <body>
        <!-- image pool -->
        <div class="container">
            <div class="jumbotron jumbotron-fluid" id="topJumbotron">
                <div class="container">
                    <h1 class="display-4">Pool Finder</h1>
                    <p class="lead">The site you never knew you needed</p>
                </div>
            </div>
            <div class="container">
                <h2 class="display-4">The International Space Station Pool Finder</h2>
                <p class="lead"></p>
                <p>So you finally made it to the International Space Station after earning your undergraduate degree in enginerring, science or math. You have over three years of professional experience and you passed the NASA astronaut physical exam. You've spent your life preparing. You learned to scuba dive because you heard it was a good skill to have up in space. You were dropped off in the wilderness with only the clothes on your back to make sure you could survive in harsh conditions. You learned Russian to communicate with the Cosmonauts!
                </p>
                <p>And now you are here, in space, and you know what? You earned a break! So click on the search link above to find yourself the pool you have been dreaming of!</p>
            </div>
        <div class="container">
            <div class="jumbotron jumbotron-fluid" id="bottomJumbotron">
                <div class="container">
                    <h1 class="invisible display-4">Fluid jumbotron</h1>
                    <p class="invisible lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>





        </div>



<!--</body> and </html> are in the footer--> 
{{> footer}}

