{{> head}}
{{> nav}}



    <body>
        <div class="container">
        <div class="jumbotron jumbotron-fluid" id="topJumbotron">
            <div class="container">
                <h1 class="display-4">Pool Finder</h1>
                <p class="lead font-weight-bolder">The site you never knew you needed</p>
            </div>
        </div>
        </div>
        <div class="container">

    <ul class="list-unstyled">
        <li class="media mt-1">
            <a href="https://www.nasa.gov/sites/default/files/atoms/files/np-2015-05-022-jsc-iss-guide-2015-update-111015-508c.pdf" class="align-self-center"><img src="/images/iss.png" style="max-width:64px;" class="mr-3" alt="..."></a>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Reference Guide to the International Space Station</h5>
                The latest iteration of the ISS Reference Guide and its focus on conducting pioneering science in micro-gravity.
            </div>
        </li>
        <li class="media mt-2">
            <a href="https://www.nasa.gov/missions" class=" align-self-center"><img src="/images/satellite.png" style="max-width:64px;" class="mr-3" alt="..."></a>
            <div class="media-body">
                <h5 class="mt-0 mb-1">NASA Mission List</h5>
                A list of all NASA missions.
            </div>
        </li>
        <li class="media mt-2">
            <a href="https://astronauts.nasa.gov/content/broch00.htm" class="align-self-center"><img src="/images/astronaut.png" style="max-width:64px;" class="mr-3" alt="..."></a>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Astronaut Candidate Program</h5>
                The National Aeronautics and Space Administration accepts applications for the position of Astronaut Candidate on an as needed basis.
            </div>
        </li>
        <li class="media mt-2">
            <a href="https://www.youtube.com/watch?v=bKk_7NIKY3Y" class="align-self-center"><img src="/images/liquid.png" style="max-width:64px;" class="mr-3 align-self-center" alt="..."></a>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Liquid in Space</h5>
                On Earth we are used to seeing water falling in streams (for example from a tap) and we don’t get to see the effect of surface tension because of gravity. In this demonstration we can observe what happens to water in the absence of gravity. The surface tension of the water pulls it into the shape of a sphere. Surface tension is a result of the water molecules being attracted to each other through the van der Waals force.

            </div>
        </li>
        <li class="media mt-2">
            <a href="https://platinumpools.com/"  class="align-self-center"><img src="/images/pool.png" style="max-width:64px;" class="mr-3 align-self-end" alt="..."></a>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Platinum Pools: The Best Swimming Pool Builder in Houston</h5>
                For almost two decades, Platinum Pools has been building fun for residents of Houston, Beaumont, Victoria, and the surrounding areas.
            </div>
        </li>


    
</ul>
    </div>
    
    <!--</body> and </html> are in the footer--> 
{{> footer}}

