{{> head}}
{{> nav}}

    <body>
        <div class="container">
        <div class="jumbotron jumbotron-fluid" id="topJumbotron">
            <div class="container">
                <h1 class="display-4">Pool Finder</h1>
                <p class="lead font-weight-bolder">The site you never knew you needed</p>
            </div>
        </div>
        </div>
        <div class="container">
            <img src="/images/iss_layout.jpg" class="img-fluid" alt="Responsive image">
        </div>
<!--</body> and </html> are in the footer--> 
{{> footer}}

