{{> head}}
{{> nav}}

<body>
    <div class="container">
    <div class="jumbotron jumbotron-fluid" id="topJumbotron">
        <div class="container">
            <h1 class="display-4">Pool Finder</h1>
            <p class="lead font-weight-bolder">The site you never knew you needed</p>
        </div>
    </div>
    </div>


<div class="container">
    <form action='/add-location' method='POST'>
        <div class="form-group">
            <label for="name">Station Area Name</label>
            <input type="text" class="form-control" name="name" id="stationArea" placeholder="Enter Area of Station">
        </div>
        <div class="form-group">
            <label for="description">Description of ISS Area</label>
            <textarea class="form-control" id="description" name="description" rows="5" placeholder="Description of the area of the space station"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="month">Month</label>
                <select class="form-control" id="month" name="month">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="day">Day</label>
                <input type="number" name="day" min="1" max="31" class="form-control" id="day">
            </div>
            <div class="form-group col-md-2">
                <label for="year">Year</label>
                <input type="number" name="year" min="1995" max="2019" class="form-control" id="year">
            </div>
        
            <div class="form-group col-md-4">
                <label for="createdBy">Author Name</label>
                <input type="text" class="form-control" name="createdby" id="createdby" placeholder="Enter Your Name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<div class="card-columns">
    {{#areaList}}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h5 class="card-title">{{name}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
            <p class="card-text">Date of Deployment: {{month}}/{{day}}/{{year}}</p>
        </div>    
        <div class="card-footer">    
            <p class="card-text"><small class="text-muted">Post Made By: {{createdby}}</small></p>
        </div>
        
    </div>
    {{/areaList}}
</div>



<!--</body> and </html> are in the footer--> 
{{> footer}}

